@charset "utf-8";

/* CSS Document */
div.ap_settings_div{
}

a{
	cursor:pointer;
}
#request_panel{
	display:none;
}
ul.ap_pagination{		
        display: none;
        padding: 6px 10px 0;
        text-align: center;        
        float: left;
}



ul.ap_pagination li{

    padding: 2px;
    width: 3%;
}


ul.layout_H{

	width:96%;
	padding-bottom: 1%;
}



ul.layout_H li{

	float:left;

}



ul.layout_V{

	width:18px;

	position:absolute;

	float:none;

}

ul.layout_V li{



}





ul.ap_pagination li a,

ul.ap_pagination li a:active,

ul.ap_pagination li a:visited{

	font-size:14px;

	text-decoration:none;

	color:#21759B;

}



ul.case_U a{

	text-transform:uppercase;

}



ul.case_L a{

	text-transform:lowercase;

}



ul.ap_pagination li a:hover,

ul.ap_pagination li a.selected{

	text-decoration:underline;

	font-weight:bold;

}

.useful_link{

	margin-left:10px;
	float:right;
}
.flower_img{
	float: left;
    left: -6px;
    position: relative;
    top: 12px;
    width: 3%;
}	

select.ap_taxes[multiple],
select.ap_langs[multiple],
select.ap_taxes_types[multiple]{
	height: 100px;
    width: 152px;
}
select.ap_taxes_types[multiple]{
	width:252px;
}

div.ap_settings_div .hide{
	display:none;
}

div.ap_settings_div .doms{
	display:block;
	height:60px;
}

div.ap_settings_div .doms .dom_options{
	padding:8px;	
}

div.ap_settings_div div.ap_notes{
    clear: both;
    font-size: 12px;
    line-height: 22px;
    margin: 20px 0 10px 10px;
}
div.ap_settings_div div.ap_caption{
	font-size: 10px;
	margin:10px 0 0 0;
}

ul.ap_gogowords {
    background: none repeat scroll 0 0 #F0F4F7;
    border-top: 1px dotted #B1B1B1;
    
}

ul.ap_gogowords li a:hover,
ul.ap_gogowords li a.selected{
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px 4px;
    text-decoration: none;
}

ul.ap_classic {
    
}


ul.ap_chess {
    background: none repeat scroll 0 0 #FFF;
	border:1px solid #000;
	padding:0px;
	width:98%;
}
ul.ap_chess li{
	padding:8px 10px;
	margin:0px;
}
ul.layout_V.ap_chess {
    overflow: hidden;
    width: 28px;	
}
ul.layout_V.ap_chess li{
	padding:2px 2%;
	margin:0px;
	width:98%;
}
ul.ap_chess li:nth-child(odd) {background: #FFF; }
ul.ap_chess li:nth-child(odd) a{color: #000; }
ul.ap_chess li:nth-child(even) {background: #000; }
ul.ap_chess li:nth-child(even) a{color: #FFF; }

ul.ap_chess li:nth-child(odd) a:hover,
ul.ap_chess li:nth-child(odd) a.selected,
ul.ap_chess li:nth-child(even) a:hover,
ul.ap_chess li:nth-child(even) a.selected{
	font-weight:bold; 
	text-decoration:none;
}

ul.ap_mahjong {

}

ul.ap_mahjong li a,
ul.ap_mahjong li a:hover,
ul.ap_mahjong li a.selected{
	
	
	background: none repeat scroll 0 0 #E9E9E9;
    border: 1px solid #C0C0C0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #717171;
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    margin-right: 4px;
    padding: 0 9px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
	
	background: -moz-linear-gradient(0% 0 270deg, #F8F8F8, #E9E9E9) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

