@charset "utf-8";

/* CSS Document */
div.ap_settings_div{
}

a{
	cursor:pointer;
}
#request_panel{
	display:none;
}
ul.ap_pagination{		
	display:none;	
}



ul.ap_pagination li{

	padding:2px;	

	width:3.2%;

	

}


ul.layout_H{

	width:100%;

}



ul.layout_H li{

	float:left;

}



ul.layout_V{

	width:18px;

	position:absolute;

	float:none;

}

ul.layout_V li{



}





ul.ap_pagination li a,

ul.ap_pagination li a:active,

ul.ap_pagination li a:visited{

	font-size:14px;

	text-decoration:none;

	color:#21759B;

}



ul.case_U a{

	text-transform:uppercase;

}



ul.case_L a{

	text-transform:lowercase;

}



ul.ap_pagination li a:hover,

ul.ap_pagination li a.selected{

	text-decoration:underline;

	font-weight:bold;

}

.useful_link{

	margin-left:10px;
	float:right;
}
.flower_img{
	float: left;
    left: -6px;
    position: relative;
    top: 12px;
    width: 3%;
}	

select.ap_taxes[multiple]{
	height: 184px;
    width: 152px;
}

div.ap_settings_div .hide{
	display:none;
}

div.ap_settings_div .doms{
	display:block;
	height:60px;
}

div.ap_settings_div .doms .dom_options{
	padding:8px;	
}
